{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">StoqueADS</a>
        </nav>
    </header>

    <a href="{% url 'add-product' %}" class=" btn btn-primary mt-5 mb-1"> adicionar produto</a>

    <table class="table table-dark m-5">
        <thead>
          <tr>
            <th scope="col">cod</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for produto in produtos %}
            <td scope="row">{{ produto.cod}}</td>
            <td>
              <a href="{% url 'product-detail' produto.id %}">
                {{ produto.name}}
              </a></td>
            <td>{{ produto.price}}</td>
            <td>{{ produto.qtd}}</td>
            
          </tr>
          {% endfor %}
        
        </tbody>
      </table>

    
</body>
</html>